.borrowPageContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.borrowPage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

h1 {
    text-align: center;
}
.form {
    width: 100%;
}