.filterRow {
    width: 100%;
    height: 5em;
    flex-direction: row;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(219, 197, 180);
}
.ant-select:hover {
    border: 2px solid rgb(189, 159, 127) !important;
}