.filterRow {
    width: 80%;
    height: 6em;
    flex-direction: row;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: black;
}