.filterRow {
    width: calc(100% - 17em);
    height: 5em;
    flex-direction: row;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(219, 197, 180);
    z-index: 100;
}

p {
    color: black;
}

.filterContainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(83, 119, 186);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

.filterDisplay {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 5em;
    background-color: rgb(83, 119, 186);
    width: 100%;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
}

.resBlock {
    margin: 2em;
    display: block;
    width: 270px;
    height: 220px;
}

.resBlock:hover {
    cursor: pointer;
}

.resImgContainer {
    width: 270px;
    height: 160px;
    overflow: hidden;
    justify-content: center;
}

.resImg {
    width: 270px;
}

.resInfo {
    padding: 0.5em;
    text-align: left;
    width: 270px;
}

.resInfo .title {
    display: flex;
    justify-content: center;
    height: 6%;
    max-height: 25px;
}

.resInfo .title .equipment {
    justify-content: center;
    width: 55%;
    height: 6%;
    font-size: 14px;
}

.resInfo .title .attr {
    text-align: right;
    padding-right: 1em;
    width: 10%;
    height: 6%;
    font-size: 14px;
}

.resInfo .title .equipNum {
    text-align: right;
    width: 35%;
    height: 6%;
    font-size: 14px;
}

.description {
    font-size: 12px;
}