.sideBarContainer {
	background: rgb(189, 159, 127);
	width: 17em;
	height: calc(100% - 10em);
	position: absolute;
}
.sideBarRow {
	color: white;
	font-size: 1.2em;
	height: 20%;
	display: flex;
    justify-content: center;
    align-items: center;

}